body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('https://i.ibb.co/wcwpWhQ/e00f9d6ceb2fa64b2c7ffc19090404c2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    font-family: 'Wide latin', sans-serif;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 28px;
    line-height: 1.5;
    font-family: Bookman Old Style;
}

.green {
    color: rgb(28,172,86);
    font-size: 52px;
    border: 2px solid;
}

.white {
    color: white;
}

.red {
    color: rgb(225,47,49);
}

footer {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    margin-top: auto;
}

blockquote {
    font-family: 'Gabriola', sans-serif;
    text-align: center;
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.bee {
    display: block;
    position: fixed;
    top: 65%;
    left: 147%;
    transform: translate(0%, -90%);
}

p {
    cursor: pointer;
}

@keyframes fly {
    from { left: 147%; }
    to { left: -100%; }
}

.home-sci {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: black;
    border: 2px solid;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    align-items: center;
}
.home-sci a:hover {
    background-color: transparent; /* Сброс цвета фона */
}

.home-sci a:nth-child(1):hover {
    background-color: rgb(28,172,86); /* Заливка зеленым при наведении на первую ссылку */
}

.home-sci a:nth-child(2):hover {
    background-color: white;
    color: black; /* Заливка белым при наведении на вторую ссылку */
}

.home-sci a:nth-child(3):hover {
    background-color: rgb(225,47,49); /* Заливка красным при наведении на третью ссылку */
}


@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    h2 {
        font-size: 24px;
    }

    .green {
        font-size: 36px;
    }

    .bee {
        display: none;
    }
    
}
