body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('https://i.ibb.co/wcwpWhQ/e00f9d6ceb2fa64b2c7ffc19090404c2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    font-family: 'Wide latin', sans-serif;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 28px;
    line-height: 1.5;
    font-family: Bookman Old Style;
}

.green {
    color: rgb(28,172,86);
    font-size: 52px;
}

.white {
    color: white;
}

.red {
    color: rgb(225,47,49);
}

footer {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    margin-top: auto;
}

blockquote {
    font-family: 'Gabriola', sans-serif;
    text-align: center;
    margin: 0;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.bee {
    display: block;
    position: fixed;
    top: 65%;
    left: 147%;
    transform: translate(0%, -90%);
}

p {
    cursor: pointer;
}

@keyframes fly {
    from { left: 147%; }
    to { left: -100%; }
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    h2 {
        font-size: 24px;
    }

    .green {
        font-size: 36px;
    }

    .bee {
        display: none;
    }

    @keyframes fly {
        from { left: 147%; }
        to { left: -147%; }
    }
    
}
